body{
  background-color: antiquewhite;
  color:rgb(212, 120, 45);
  font-family: sans-serif;
  font-style: normal; 
  font-size: 20px;
}
h1{
  font-size: 40px;
  font-weight: 200;
  text-align: center;
}


#top_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: start;
  margin-bottom: 16px;
}
#interactive{
  position: relative;
  display: grid;
}
#hero_image{
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  z-index: 10;
}
#location_message{
  z-index: 11;
  grid-area: 1 / 1 / 2 / 2;  
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 36px;
  background-color: rgba(0, 0, 0, 0.5);
  color: antiquewhite;
  font-size: 24px;
  text-align: center;
  display: none;
}
#geo{
  width: 100%;
}


#second_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: start;
  margin-bottom: 16px;

/*   background-color: green; */
}
#tours{
  width: 100%;
}
#climb{
  margin-left: 16px;
  width: 100%;
}


#third_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: start;
  margin-bottom: 16px;

/*   background-color: yellow; */
}


#fourth_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: start;
  margin-bottom: 16px;

/*   background-color: pink; */
}

#rvl{
  border-radius: 10px;
  border-color: rgb(212, 120, 45);
  -webkit-text-fill-color: rgb(212, 120, 45);
}


#fourth_section{
  display: none;
}

#fourth_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: start;
  margin-bottom: 16px;
}
#trip{
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  z-index: 10;
}
#experience{
  width: 100%;
}

/* #fourth_section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: start;
  margin-bottom: 16px;
}
#experience{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-content: start;
  margin-bottom: 16px;
  display: none;

/*   background-color: purple; */
/* }
#trip{
  margin-right: 16px;
  width: 100%;
} */
