body{
    background-color: antiquewhite;
    color:rgb(212, 120, 45);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;  
    flex-direction: row;
    flex-wrap: wrap;

}

#more{
    display: none;
}

#img{
    width: 50%;
}

#cvr{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}